.App {
  text-align: center;
}

p {
font-size: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Data-handler-btn{
  background-color: #5D5FEF;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

@keyframes App-logo-spin {
    0% { 
    transform: scale(1,1);
    opacity: 0.8;
}
  50% {
  transform: scale(1.2,1.2);
  opacity: 1;
  }
  100% { 
  transform: scale(1,1); 
  opacity: 0.8;
  }
}

